@using PersonalWebsite.Extensions
@using PoliteCaptcha
@model PersonalWebsite.Models.Contact.ContactFormViewModel

<h4>Contact Form</h4>

@if (Model == null || !Model.Success)
{
    <p>The easiest way to contact me is to scribble something below and fire it to me</p>
    
    <div class="row contactform">
        <div class="twelve columns">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                    
            <div class="row">
                <div class="two columns">@Html.LabelFor(x => x.Name)</div>
                <div class="ten columns">
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageSmallFor(x => x.Name)
                </div>                
            </div>
            <div class="row">
                <div class="two columns">@Html.LabelFor(x => x.Email)</div>
                <div class="ten columns">
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageSmallFor(x => x.Email)
                </div>                
            </div>
            <div class="row">
                <div class="two columns">@Html.LabelFor(x => x.Message)</div>
                <div class="ten columns">
                    @Html.TextAreaFor(x => x.Message)
                    @Html.ValidationMessageSmallFor(x => x.Message)
                </div>                
            </div>
            
            <div class="row">
                <div class="twelve columns">
                    @Html.SpamPreventionFields()
                </div>
            </div>
                        
            <div class="row">
                <div class="six columns">
                    @if (!Html.ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationSummary(true);
                    }
                    else if (Model != null && Model.ErrorMessage != "")
                    {
                        <div class="validation-summary-errors">
                            <ul>
                                <li>@Model.ErrorMessage</li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="six columns text-right">
                    <input type="submit" value="Send" class="button" />
                </div>                
            </div>        
        }
        </div>
    </div>
}
else
{
    <p>Thanks!</p>
    <p>Your message has been sent. I'll try to respond to you soon!</p>
}

@Html.SpamPreventionScript()