@model PersonalWebsite.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="row equalheight">
    <div class="six columns box-padding">
        <div class="box">
            <h2 class="text-center">Admin Login</h2>

            @using (Html.BeginForm())
            {                
                @Html.AntiForgeryToken()
                
                <div class="row">
                    <div class="two columns offset-by-two">
                        @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "right inline" })
                    </div>
                    <div class="six columns">
                        @Html.TextBoxFor(m => m.Username)                         
                    </div>
                    <div class="two columns"></div>
                </div>
                
                <div class="row">
                    <div class="two columns offset-by-two">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "right inline" })
                    </div>
                    <div class="six columns">
                        @Html.PasswordFor(m => m.Password)                        
                    </div>
                    <div class="two columns"></div>
                </div>
                
                if (!Html.ViewData.ModelState.IsValid)
                {
                <div class="row">
                    <div class="six columns offset-by-four"> 
                        @Html.ValidationSummary(false, null, htmlAttributes: new { @class = "account-validation-summary" })
                    </div>
                </div>
                }
                
                <div class="row">
                    <div class="eight columns offset-by-two">
                        <input type="submit" value="Login" class="button radius right" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="six columns box-padding">
        <div class="box">
            <h2>Recent Failed Attempts</h2>
                        
            @Html.Action("FailedAttempts", "Account")
        </div>
    </div>
</div>
