@using PersonalWebsite.Extensions
@model PersonalWebsite.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="six columns centered">
        <h3 class="text-center">Admin Login</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                
            <div class="row">
                <div class="two columns offset-by-two">
                    @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "right inline" })
                </div>
                <div class="six columns">
                    @Html.TextBoxFor(m => m.Username)
                    @Html.ValidationMessageSmallFor(x => x.Username)
                </div>
                <div class="two columns"></div>
            </div>
                
            <div class="row">
                <div class="two columns offset-by-two">
                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "right inline" })
                </div>
                <div class="six columns">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageSmallFor(x => x.Password)
                </div>
                <div class="two columns"></div>
            </div>
                
            if (!Html.ViewData.ModelState.IsValid)
            {
            <div class="row">
                <div class="six columns offset-by-four"> 
                    @Html.ValidationSummary(true)
                </div>
            </div>
            }
                
            <div class="row">
                <div class="eight columns offset-by-two">
                    <input type="submit" value="Login" class="button right" />
                </div>
            </div>
        }        
    </div>
</div>