@model PersonalWebsite.Models.Account.UpdatePasswordViewModel
@{
    ViewBag.Title = "Update Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="twelve columns account-update-password">

            <h4>Update Password</h4>
                        
            <div class="row">
                <div class="three columns offset-by-two">
                    @Html.LabelFor(m => m.CurrentPassword, htmlAttributes: new { @class = "right inline" })
                </div>
                <div class="four columns">
                    @Html.PasswordFor(m => m.CurrentPassword)
                </div>
                <div class="three columns"></div>
            </div>

            <div class="row">
                <div class="three columns offset-by-two">
                    @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "right inline" })
                </div>
                <div class="four columns">
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div class="three columns"></div>
            </div>

            <div class="row">
                <div class="three columns offset-by-two">
                    @Html.LabelFor(m => m.ConfirmNewPassword, htmlAttributes: new { @class = "right inline" })
                </div>
                <div class="four columns">
                    @Html.PasswordFor(m => m.ConfirmNewPassword)
                </div>
                <div class="three columns"></div>
            </div>
                
            @if (!Html.ViewData.ModelState.IsValid)
            {
            <div class="row">
                <div class="four columns offset-by-five">                     
                    @Html.ValidationSummary(false);
                </div>
            </div>
            }        

        </div>
        <div class="four columns offset-by-five">
            <input type="submit" value="Save Changes" class="button radius account-update-password-button">
            @Html.ActionLink("Cancel", MVC.Account.Index(), htmlAttributes: new { @class = "button radius secondary account-update-password-button" })
        </div>   
        <div class="three columns"></div>
    </div>
}