<ul>
    <li>@Html.ActionLink("home", "Index", "Home")</li>
    <li>/</li>   
    <li>@Html.ActionLink("about", "Index", "About")</li>
    <li>/</li>
    <li>@Html.ActionLink("code", "Index", "Code")</li>
    <li>/</li>
    <li>@Html.ActionLink("blog", "Index", "Blog")</li>
    <li>/</li>
    <li>@Html.ActionLink("contact", "Index", "Contact")</li>
    <li>/</li>
    <li>@Html.ActionLink("admin", "Index", "Account")</li>
</ul>