<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Adam K Dean - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- this is decorative -->
    <div class="topbar"></div>
    
    <div class="row header">
        <div class="five columns logo">            
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/images/logo.png")">
            </a>
        </div>
        <div class="seven columns nav">
            @Html.Partial("_TopNavigationPartial")
        </div>
    </div>
    
    @RenderBody()
        
    <div class="row">
        <div class="twelve columns box-padding">
            <div class="box">
                @if (EasyAuth.Authentication.IsAuthenticated())
                {
                    <div class="row footer">
                        <div class="twelve columns loggedin">
                            Logged in as <strong>@EasyAuth.Authentication.CurrentUser.Username</strong>. @Html.ActionLink("Logout", "Logout", "Account")
                        </div>
                    </div>
                }
                <div class="row footer">
                    <div class="six columns copyright">&copy; 2013 Adam K Dean, all rights reserved.</div>
                    <div class="six columns nav">
                        @Html.Partial("_BottomNavigationPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/foundation")
    @RenderSection("scripts", required: false)     

    <script>
        function equalheight() {
            $('.equalheight').each(function (index) {
                var maxHeight = 0;
                $(this).children().each(function (index) {
                    if ($(this).height() > maxHeight) {
                        maxHeight = $(this).height();
                        console.log("maxHeight: " + maxHeight);
                    }
                });
                $(this).children().height(maxHeight);
            });
        }

        $(window).bind("load", equalheight);
        $(window).bind("resize", equalheight);
    </script>
</body>
</html>