@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    
    var homeClass = "";
    var blogClass = "";
    var profileClass = "";
    var contactClass = "";
    
    switch(controller)
    {
        case "blog":
            blogClass = "active";
            break;
        case "profile":
            profileClass = "active";
            break;
        case "contact":
            contactClass = "active";
            break;
            
        default:
            homeClass = "active";
            break;
    }    
}

<ul>
    <li class="@homeClass"><a href="~/">Home</a></li>
    <li class="@blogClass">@Html.ActionLink("Blog", MVC.Blog.Index())</li>
    <li class="@profileClass">@Html.ActionLink("Profile", MVC.Profile.Index())</li>
    <li class="@contactClass">@Html.ActionLink("Contact", MVC.Contact.Index())</li>
</ul>