@model PersonalWebsite.Models.EditBlogPostViewModel

@{
    ViewBag.Title = "Edit Blog Post";
}

<script>    
    $(function () {
        $("#taginput").tagit();
    });
</script>

<div class="row">
    <div class="twelve columns">
        <h4 class="blog-editor-label">Edit Blog Post</h4>
       
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.BlogPostId);
            
            <p>@ViewBag.Message</p>
            
            <div class="row">
        	    <div class="twelve columns blog-editor-input">
                    @Html.TextBoxFor(m => m.BlogTitle, htmlAttributes: new { @placeholder = "Enter post title" })                                        
        	    </div>
            </div>

            <div class="row">
        	    <div class="twelve columns blog-editor-textarea">
                    @Html.TextAreaFor(m => m.BlogContent, htmlAttributes: new { @placeholder = "Write something interesting..." })                    
        	    </div>
            </div>

            <div class="row">
                <div class="twelve columns blog-editor-tags">
                    <label for="tags">Tags:</label>
                    <ul id="taginput">
                        @foreach (var tag in ViewBag.Tags)
                        {
                            <li>@tag</li>
                        }
                    </ul>
        	    </div>
            </div>
        
            <div class="row">
                <div class="six columns blog-editor-validation">
                    @Html.ValidationSummary(false, null, htmlAttributes: new { @class = "blog-editor-validation-summary" })
                </div>
                <div class="six columns blog-editor-buttons">
                    <input type="submit" class="button small radius" value="Save" />
                    @Html.ActionLink("Close", "Manage", null, htmlAttributes: new { @class = "button small radius secondary" })
        	    </div>
            </div>
        }
    </div>
</div>