@model PersonalWebsite.Models.Blog.ManageViewModel

@{
    ViewBag.Title = "Manage Blog";
}

<script>
    /* select all checkbox - requires jquery 1.6+ */
    $(function () {
        $("#checkbox_all").click(function () {
            $(".selectable").prop('checked', $("#checkbox_all").is(":checked"));
        });
    });
</script>

<div class="row">
    <div class="twelve columns">

        <div class="row blog-manage-top">
            <div class="eight columns">
                <h4>Blog Management</h4>
            </div>
            <div class="four columns">
                @Html.ActionLink("New Post", "New", null, htmlAttributes: new { @class = "button small radius right" })
            </div>
        </div>
  
        @using (Html.BeginForm("Delete", "Blog")) 
        {
        <table class="twelve blog-manage-table">
            <tbody>
            @if (Model.BlogPosts.Count == 0)
            {
                <tr>
                    <td colspan="5">
                        <p class="text-center">No blog posts found.</p>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.BlogPosts)
                {
                    <tr>
                        <td class="blog-manage-td-check">
                            <input type="checkbox" class="selectable" 
                                id="checkbox_@item.BlogPostId" 
                                name="checkbox_@item.BlogPostId" 
                                value="@item.BlogPostId">
                            <label for="checkbox_@item.BlogPostId"><span></span></label>
                        </td>
                        <td class="blog-manage-td-post">
                            @Html.ActionLink(item.BlogTitle, "Edit", new { id = item.BlogPostId })<br>                            
                            @foreach (var tag in item.Tags)
                            {
                                <span class="label">@tag.TagName</span>
                            }                        
                        </td>
                        <td class="blog-manage-td-comments">
                            <img src="~/Content/images/comments.png" title="Comments" /> 
                            @item.Comments.Count
                        </td>
                        <td class="blog-manage-td-views blog-manage-icon">
                            <img src="~/Content/images/views.png" title="Views" /> 
                            @item.Views
                        </td>
                        <td class="blog-manage-td-date">
                            @if(item.DateModified != null)
                            {
                                <span class="has-tip tip-left blog-manage-date-tooltip" 
                                      data-width="90" 
                                      title ="Modified: @item.DateModified.ToString()">
                                    @item.DatePosted.ToString()
                                </span>
                            }
                            else
                            {
                                @item.DatePosted.ToString()
                            }
                        </td>
                    </tr>
                }    
            }                        
            </tbody>
            <tfoot>
                <tr>
                    <td class="blog-manage-td-check">
                        <input type="checkbox" id="checkbox_all">
                        <label for="checkbox_all"><span></span></label>
                    </td>
                    <td class="blog-manage-td-post">
                        <input type="submit" value="Delete" class="button small radius secondary"
                            onclick="return confirm('Are you sure you want to delete the selected post(s)?');" />                        
                    </td>
                    <td colspan="3">@Html.ActionLink("New Post", "New", null, htmlAttributes: new { @class = "button small radius right" })</td>
                </tr>
            </tfoot>
        </table>
        }
    </div>    
</div>