@using PersonalWebsite.Extensions
@model PersonalWebsite.Models.Blog.SinglePostViewModel

<article>
    <h3>@Html.ActionLink(Model.BlogPost.BlogTitle, MVC.Blog.Read(Model.BlogPost.BlogPostId, Model.BlogPost.Slug))</h3>
    <h6>Posted @PersonalWebsite.Helpers.DateHelper.GetReadableDate(Model.BlogPost.DatePosted).</h6>
            
    @Html.Markdown(Model.BlogPost.BlogContent)

    <p class="post-tag-text">
        @{
            var comments = "";            
            if (Model.ShowComments == false) 
            {
                var link = Html.ActionLink("0 Comments", 
                    MVC.Blog.Read(Model.BlogPost.BlogPostId, Model.BlogPost.Slug),
                    htmlAttributes: new { Area = "disqus_thread" }
                );
                comments = link.ToString() + " | ";                
            }
        }

        @Html.Raw(comments)

        Tags: 
        @foreach (var tag in Model.BlogPost.Tags.OrderBy(x => x.TagName))
        {
            @Html.ActionLink(tag.TagName, MVC.Blog.Tagged(tag.TagId, tag.Slug), 
                htmlAttributes: new { @class = "label label-spacing" })
        }
    </p>

    @if (Model.ShowComments)
    {
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'adamkdean';
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    }
</article>