@{
    ViewBag.Title = "Tagged";
}

@using PersonalWebsite.Extensions
@model PersonalWebsite.Models.Blog.TaggedViewModel

<div class="row">
    <div class="nine columns">
    @if(Model.BlogPosts.Count == 0)
    {
        <p>No blog posts.</p>
    }
    else
    {
        int count = 0;
        foreach(var post in Model.BlogPosts)
        {        
            <article>
                <h3>@Html.ActionLink(post.BlogTitle, "Read", new { id = post.BlogPostId, slug = post.Slug })</h3>
                <h6>Posted @PersonalWebsite.Helpers.DateHelper.GetReadableDate(post.DatePosted).</h6>
            
                @Html.Markdown(post.BlogContent)

                <p class="post-tag-text">
                    Tags: 
                    @foreach (var tag in post.Tags.OrderBy(x => x.TagName))
                    {
                        @Html.ActionLink(tag.TagName, "Tagged", "Blog", 
                        routeValues: new { id = tag.TagId, slug = tag.Slug }, 
                            htmlAttributes: new { @class = "label label-spacing radius" })
                    }
                </p>
            </article>
    
            if (++count < Model.BlogPosts.Count())
            {
                <hr>
            }
        }
    }        
    </div>
    <div class="three columns">
        @Html.Action("Sidebar")
    </div>
</div>